#slides_control > div{
  height: 200px;
}
img{
  margin:auto;
  width: 400px;
}
#slides_control {
  position:relative;
  width: 400px;
  left:50%;
  top:20px;
 margin-left:-200px;
}
.carousel-indicators li { visibility: hidden; }